sap-workshop-lab2/src/main/app/sap-workshop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <sap:connector name="SAP" validateConnections="true" doc:name="SAP" 
		jcoAsHost="${sap.jcoAsHost}" 
    	jcoUser="${sap.jcoUser}" 
    	jcoPasswd="${sap.jcoPasswd}" 
    	jcoSysnr="${sap.jcoSysnr}" 
    	jcoClient="${sap.jcoClient}" 
    	jcoLang="${sap.jcoLang}" 
    	jcoPoolCapacity="${sap.jcoPoolCapacity}" 
    	jcoPeakLimit="${sap.jcoPeakLimit}" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="sap-workshopFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
//Some output fields where skipped as the structure is too deep (more than 2 levels).
//To add missing fields click on the scaffold icon (second on the toolbar).
{
	"BAPI_CUSTOMER_GETLIST": {
		import: {
			MAXROWS: 5
		},
		export: {
		},
		tables: {
			IDRANGE: {
				row: {
					SIGN: "I",
					OPTION: "CP",
					LOW: "*"
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <sap:xml-to-function xmlVersion="2" doc:name="XML to SAP Function (BAPI)"/>
        <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_GETLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="SAP"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
    </flow>
    <flow name="sap-workshopFlow">
        <sap:inbound-endpoint connector-ref="SAP" type="idoc" functionName="DEBMAS03" xmlVersion="2" outputXml="true" jcoGwHost="${sap.jcoGwHost}" jcoGwService="${sap.jcoGwService}" jcoProgramId="${sap.jcoProgramId}" jcoConnectionCount="${sap.jcoConnectionCount}" responseTimeout="10000" doc:name="SAP" rfcType="qrfc">
            <sap:default-in-memory-tid-store/>
        </sap:inbound-endpoint>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/Users/dejim.juang/Desktop" outputPattern="CUSTOMER_DEBMAS03.xml" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
